html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}




/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

.page-header .main-navigation{
    width: 100%;
}

.page-header .main-navigation .main-navigation__logo{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    color: #000;
}

.page-header .main-navigation .navigation-wrapper{
    justify-content: end;
}

.navigation-list .navigation-item .navigation-item__link{
    text-transform: uppercase;
}

.navigation-list .navigation-item .navigation-item__link.navigation-item__link--phone{
    color: #000;
    margin: 0 0 0 40px;
}

.main{
    background: url('./img/creative.jpg');
    background-size: cover;
    padding: 150px 0;
}

.main .main-wrapper .main-wrapper__title{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
}

.main .main-wrapper .main-wrapper__text{
    color: #eee;
    line-height: 1.8;
}

.about-us{
    padding: 50px 0;
    background-color: #eee;
}

.about-us .about-us-item{
    margin-bottom: 30px;
}

.about-us-item .about-us-item__circle{
    background-color: #3598db;
    color: #fff;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    font-size: 30px;
}

.about-us-item .about-us-item__circle.about-us-item__circle--reverse{
    transform: rotateY(180deg);
}

.about-us-item .about-us-item__title{
    color: #3598db;
    font-weight: 600;
    margin: 15px 0;
}

.about-us-item .about-us-item__text{
    text-align: justify;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,0.5);
}

@media(max-width: 991px) {
    .navigation-list .navigation-item .navigation-item__link.navigation-item__link--phone{
        margin: 0;
    }
}
